.about {
  @media (min-width: $desktop-width) {
    padding: 150px 0 111px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 74px;
    padding-bottom: 28px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 42px;
  }
}

.about__container {
  padding: 0 15px;

  @media (min-width: $desktop-width) {
    max-width: 1183px;
    margin: 0 auto;
  }

  @media (max-width: $tablet-width) {
    max-width: 586px;
    margin: 0 auto;
  }
}

.about .main-title {
  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 35px;
  }
}

.about__list {
  display: flex;
  flex-wrap: wrap;
}

.about__item {
  text-align: center;
  margin-bottom: 40px;

  @media (min-width: $desktop-width) {
    width: 22.5%;
    margin-right: 38px;
  }

  &:nth-child(4n + 4) {
    margin-right: 0;
  }

  @media (max-width: $tabletbig-width) {
    width: 22%;
  }

  @media (max-width: $tablet-width) {
    width: 47%;
    margin-right: 30px;

    &:nth-child(2n+2) {
     margin-right: 0;
   }
 }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 38px;
  }
}

.about__number {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  color: $blue;
  display: block;
  margin-bottom: 15px;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 14px;
  }
}

.about__text {
  margin: 0;
  line-height: 34px;

  @media (min-width: $desktop-width) {
    font-size: 22px;
  }

  @media (max-width: $tablet-width) {
    font-size: 22px;
  }

  @media (max-width: $mobile-width) {
    font-size: 18px;
    margin: 0;
  }
}
