.form {
  @media (min-width: $desktop-width) {
    max-width: 880px;
    margin: 0 auto;
    position: relative;
  }

  @media (max-width: $tablet-width) {
    padding-top: 70px;
  }

  @media (max-width: $mobile-width) {
    padding: 70px 15px 0 15px;
  }
}

.form__wrap {
  @media (min-width: $desktop-width) {
    max-width: 327px;
    position: absolute;
    right: 0;
    top: -500px;
  }

  @media (max-width: $tablet-width) {
    max-width: 324px;
    margin: 0 auto;
  }
}

.form__title {
  text-align: center;
  font-weight: 600;

  @media (min-width: $desktop-width) {
    font-size: 17px;
    line-height: 28px;
    color: $white;
    margin: 0 0 16px;
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 27px;
    margin: 0 0 31px;
  }

  @media (max-width: $mobile-width) {
    line-height: 28px;
    margin: 0 0 21px;
  }
}

.form__input {
  width: 100%;
  border-radius: 6px;
  background: $white;
  height: 48px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 24px;
  color: $black;
  padding: 0 27px;
  border: 1px solid transparent;
  transition: all 0.3s;

  &::-moz-placeholder {
    color: $input;
  }

  &::-webkit-input-placeholder {
    color: $input;
  }

  &::-ms-input-placeholder {
    color: $input;
  }

  @media (max-width: $tablet-width) {
    border: 1px solid $border;
    padding: 0 23px;
  }
}

.form__input:focus {
  border-color: $blue;
  outline: none;
}

.form__button {
  width: 100%;
  padding: 15px 0;
}

.form__input.form-error {
  border-color: $error;
}
