.form {
  @media (min-width: $desktop-width) {
    max-width: 880px;
    margin: 0 auto;
    position: relative;
  }

  @media (max-width: $tablet-width) {
    padding-top: 70px;
  }
}

.form__wrap {
  @media (min-width: $desktop-width) {
    max-width: 327px;
    position: absolute;
    right: 0;
    top: -500px;
  }

  @media (max-width: $tablet-width) {
    max-width: 321px;
    margin: 0 auto;
  }
}

.form__title {
  text-align: center;
  margin: 0 0 20px;

  @media (min-width: $desktop-width) {
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    color: $white;
  }
}



