.form {
  @media (min-width: $desktop-width) {
    max-width: 880px;
    margin: 0 auto;
    position: relative;
  }

  @media (max-width: $tablet-width) {
    padding-top: 70px;
  }

  @media (max-width: $mobile-width) {
    padding: 70px 15px 0 15px;
  }
}

.form__wrap {
  @media (min-width: $desktop-width) {
    max-width: 327px;
    position: absolute;
    right: 0;
    top: -500px;
  }

  @media (max-width: $tablet-width) {
    max-width: 324px;
    margin: 0 auto;
  }
}

.form__title {
  text-align: center;
  font-weight: 600;

  @media (min-width: $desktop-width) {
    font-size: 17px;
    line-height: 28px;
    color: $white;
    margin: 0 0 16px;
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 27px;
    margin: 0 0 31px;
  }

  @media (max-width: $mobile-width) {
    line-height: 28px;
    margin: 0 0 21px;
  }
}
