.main-nav {
  @media (max-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 5;
    background: $white;
    align-items: center;
    display: none;
  }
}

.main-nav--active {
  height: 100%;
  display: block;
}
.main-nav__list {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-top: 60px;
  }
}

.main-nav__close {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
