.main-form__input {
  width: 100%;
  border-radius: 6px;
  background: $white;
  height: 48px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 24px;
  color: $input;
  padding: 0 30px;

  @media (min-width: $desktop-width) {
    border: none;
  }

  &::-moz-placeholder {
    color: $input;
  }

  &::-webkit-input-placeholder {
    color: $input;
  }

  &::-ms-input-placeholder {
    color: $input;
  }

  @media (max-width: $tablet-width) {
    border: 1px solid #C9CCD4;
  }
}

.main-form__button {
  width: 100%;
  padding: 15px 0;
}
