.page-footer {
  @media (min-width: $desktop-width) {
    max-width: 957px;
    margin: 0 auto;
    padding: 246px 0 72px;
  }

  @media (max-width: $tablet-width) {
    padding: 152px 35px 30px;
  }

  @media (max-width: $mobile-width) {
    padding: 123px 0 50px;
  }
}

.page-footer p {
  font-size: 17px;
  line-height: 31px;
  color: $text;
  text-align: center;

  @media (min-width: $desktop-width) {
    margin: 0 auto 42px;
    max-width: 555px;
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 19px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 26px;
    margin: 0 0 23px;
  }
}

.page-footer__title {
  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    font-size: 18px;
  }
}

.page-footer__map {
  background: url("../img/map.jpg") no-repeat center;

  @media (min-width: $desktop-width) {
    height: 530px;
  }

  @media (max-width: $tablet-width) {
    height: 557px;
  }

  @media (max-width: $mobile-width) {
    height: 250px;
  }
}

.page-footer__contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    margin-top: 37px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 7px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 30px;
    display: block;
    text-align: center;
  }
}

.page-footer__link {
  font-size: 16px;
  line-height: 22px;
  color: $grey;
  transition: color 0.2s;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 33px;
  margin: 0 50px 25px;

  .page-footer__link--mail {
    padding-left: 41px;

    @media (max-width: $mobile-width) {
      margin-right: 0;
    }
  }
}

.page-footer__link:hover,
.page-footer__link:focus {
  color: $black;
}

.page-footer__link svg {
  position: absolute;
  left: 0;
  top: 0;
}

.page-footer__link--mail svg {
  top: 3px;
}

.page-footer__map iframe {
  max-width: 100%;
  max-height: 100%;
}
