// Colors

$white: #FFFFFF;
$link: rgba(255, 255, 255, 0.2);
$black: #141517;
$title: #1F1F1F;
$text: rgba(0, 0, 0, 0.7);
$blue: #0AD9C6;
$grey: rgba(0, 0, 0, 0.5);
$menu: #48494D;
$menubg: #F6F6F6;
$arrow: rgba(44, 46, 63, 0.5);
$input: rgba(28, 28, 28, .5);
$error: red;
$bg: #F6F7F9;
$videobg: #131314;
$border: #C9CCD4;
// Viewports

$tabletbig-width: 1200px;
$tablet-width: 1023px;
$desktop-width: 1024px;
$mobile-width: 767px;

@mixin beforeAfter {
  content: "";
  display: block;
  position: absolute;
}
