// Colors

$white: #ffffff;
$link: rgba(255, 255, 255, 0.2);
$black: #141517;
$title: #1f1f1f;
$text: rgba(0, 0, 0, 0.7);
$blue: #0ad9c6;
$grey: rgba(0, 0, 0, 0.5);
$menu: #48494d;
$menubg: #f6f6f6;
$arrow: rgba(44, 46, 63, 0.5);
$input: rgba(28, 28, 28, 0.5);
$error: red;
$bg: #f6f7f9;
$videobg: #131314;
$border: #c9ccd4;
// Viewports

$tabletbig-width: 1200px;
$tablet-width: 1023px;
$desktop-width: 1024px;
$mobile-width: 767px;

@mixin beforeAfter {
  content: "";
  display: block;
  position: absolute;
}
